<div class="container-fluid overflow-hidden container-header">
  <div class="d-flex align-items-center py-3">
    <div class="col-3">
      <h5 class="m-0">Request an Appointment</h5>
    </div>
    <div class="col-9 header-input">
      <input type="text" class="form-control" value="The Therapy Center">
    </div>
  </div>
</div>
