---
http_interactions:
- request:
    method: get
    uri: https://johnny-appleseed.clientsecure.me/client-portal-api/offices?filter%5BclinicianId%5D=2&filter%5BcptCodeId%5D=6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Version:
      - '2019-01-17'
      Application-Build-Version:
      - 0.0.0
      Application-Platform:
      - web
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/vnd.api+json
      Status:
      - 200 OK
      Etag:
      - W/"9be6bec973bce03d9d57c4c4079e7bf5"
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"1","type":"offices","links":{"self":"https://johnny-appleseed.clientsecure.me/client-portal-api/offices/1"},"attributes":{"city":"Port
        Alyssonbury","name":"Main Office","state":"NV","street":"Elise Drive","zip":"51859","phone":"(626)
        298-1956","isVideo":false,"geolocation":{"lat":"41.503895","lng":"-74.349776"}}},{"id":"63968","type":"offices","links":{"self":"https://johnny-appleseed.clientsecure.me/client-portal-api/offices/63968"},"attributes":{"city":"Los
        Angeles","name":"Therapy Center","state":"CA","street":"801 S Hope Street","zip":"90017","phone":"(626)
        298-1956","isVideo":false,"geolocation":{"lat":"34.046471","lng":"-118.259515"}}},{"id":"3781352","type":"offices","links":{"self":"https://johnny-appleseed.clientsecure.me/client-portal-api/offices/3781352"},"attributes":{"city":"Santa
        Monica","name":"Downtown Office","state":"CA","street":"510 Arizona Ave","zip":"90401","phone":"(626)
        298-1956","isVideo":false,"geolocation":{"lat":"34.018663","lng":"-118.495297"}}}],"links":{"first":"https://johnny-appleseed.clientsecure.me/client-portal-api/offices?page%5Bnumber%5D=1&page%5Bsize%5D=10","last":"https://johnny-appleseed.clientsecure.me/client-portal-api/offices?page%5Bnumber%5D=1&page%5Bsize%5D=10"}}'
  recorded_at: Tue, 29 Dec 2020 09:36:50 GMT
recorded_with: VCR 5.1.0
